<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="SSINC-txt" path=".txt" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
            <add name="SSINC-inc" path=".inc" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
            <add name="SSINC-asp" path=".asp" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
